.row {
  display: flex;
}

.tile {
  border-style: inset;
  border-style: outset;
  width: 20px;
  height: 20px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.modal-content {
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}